# SparkSQL and DataFrames

The majority of the data that a data scientist deals with is either structured or semistructured. The PySparkSQL module is a higher-level abstraction over PySpark Core for processing structured and semistructured datasets. By using PySparkSQL, we can use SQL and HiveQL code too, which makes this module popular among database programmers and Apache Hive users.

The APIs provided by PySparkSQL are optimized. PySparkSQL can read data from many file types such as CSV files, JSON files, and files from other databases. In SparkSQL we work with DataFrames instead of RDDs which you may have come across before. The DataFrame abstraction is similar to a table in a relational database management system. The DataFrame consists of named columns and is a collection of Row objects. Row objects are defined in PySparkSQL. It should be noted that in the background the DataFrame is implemented based on RDDs so everything we have learned about RDDs also applies.

Todays lab assumes you already familiar with writting SQL queries. If not it is worth spending time to review an online tutorial on SQL. For example: 

https://www.tutorialspoint.com/sql/index.htm

Note: It will take some time to learn SQL if you have never used it before.

## Dataframes

A DataFrame is collection of named columns, let's take a look at how to create a dataframe from some Python data.

## Using Dataframes

In [0]:
%sh wget https://raw.githubusercontent.com/UmaMaquinaDeOndas/DataBricks-Tutorials/master/adult.data

In [0]:
# Load data into the big data cluster as a dataframe
df = spark.read.csv('file:/databricks/driver/adult.data',header=True, inferSchema = True)

Can you select `"age", "education", "income"` columns from the df, and show them?

In [0]:
#Select


Can you select the rows where the age is greater than 30 and the income is equal to '>50K', and show them?

In [0]:
# Where

Can you filter the rows where the age is greater than 30 and the income is equal to '>50K', and show them?

In [0]:
# Filter

## Agregation in dataframes

To get a summarized pattern of data, data scientists perform aggregation on a given
dataset. Summarized patterns are easy to understand. Sometimes the summarization is
done based on the key. To perform aggregation based on the key, we first need to group
the data by key.

In PySparkSQL, grouping by key can be performed by using the groupBy()
function. This function returns the pyspark.sql.group.GroupedData object. After this
GroupedData object is created, we can apply many aggregation functions such as avg(),
sum(), count(), min(), max(), and sum() on GroupedData.

The following lines will download the adult.data file to the node this notebook is running on from the internet. We can then import it to a dataframe, I have printed the schema which for you to review the headings and get some idea of the data:

Note how we were able to directly load a file we downloaded into a dataframe by telling spark to infer the schema of the data and that the text file had headings.

Take a look at the below examples, to aggregate data by group, sort data, describe data.

For each example try and guess what it will do based on the code before you run the cell:

In [0]:
# Groupby

#### Practice exercises

Combine the functions demonstarted above to find the occupation with the highest number of incomes that are >50K:

Which 5 profession works the most hours on average?

(You don't need to only display the top 5 professions by gender to answer this question, but you can if you like).

## Execute SQL and HiveQL Queries on a DataFrame

If you are experienced with SQL or HiveQL you can take advantage of this knowledge when using spark over big data by writting SQL code to query.

To do so, first we can use createOrReplaceTempView(), which creates a temporary view. You may have used views before in SQL but a view is like a tempory table. The DataFrame class provides this function. The life of this view is the same as the SparkSession that creates the DataFrame.

Using SQLContext, we can run SQL commands, and using HiveContext, we can run HiveQL queries on these temporary tables.

In the preceding section of the tutorial, we created a DataFrame named censusDataFrame. We will create a view from this dataframe:

We can then pass SQL queries through to spark as follows, notice how we need to include native-country due to the hyphen. Note The spark.sql() function returns a DataFrame:

In databricks we can use SQL syntax directly:

You might notice the way the results are displayed is different, we can use the display command in databricks to load results into the notebook. This will be useful later:

##  Perform Data Joining on DataFrames

Often we’re required to combine information from two or more DataFrames or tables. To
do this, we perform a join of DataFrames. Basically, table joining is a SQL term, where we
join two or more tables to get denormalized tables. Join operations on two tables are very
common in data science.

In PySparkSQL, we can perform the following types of joins (the keyword for the join type is in brackets):

•	 Inner join (deafult)

•	 Left outer join (left_outer)

•	 Right outer join (right_outer)

•	 Full outer join (outer)

![image.png](https://cdn.softwaretestinghelp.com/wp-content/qa/uploads/2019/05/Capture-1.jpg)

Below we provide a small example demonstaring the syntax for joining:

In [0]:
valuesA = [('Pirate',1,'purple'),('Monkey',2,'brown'),('Ninja',3,'black'),('Spaghetti',4,'white')]
DFTableA = spark.createDataFrame(valuesA,['name','id','colour'])
 
valuesB = [('Rutabaga',5,100),('Pirate',1,150),('Ninja',3,35),('Darth Vader',7,55)]
DFTableB = spark.createDataFrame(valuesB,['name','id','price'])
 
DFTableA.show()
DFTableB.show()

Also note how in the above code we create a dataframe from a list by just providing the data and the names for the headings. This can be a faster way for creating dataframes than the more invovlved method we started the lab with.

Two examples of join are shown below, the first assumes we have the same names for our columns, the second does not:

Note that we had to specify how we would join the data, we would match by ID on each table.

Here we show how to perform another join types:

The above join was a left join, make sure you are clear which table was considered the left table when making the join (was it tableA or tableB).

Peform a full outer join the two tables, joining on the name column and use how='outer'.

### Summary
We have two ways to perfrom SQL like queries on spark, we can use the PySparkSQL functions or we can just write SQL code and run it on a view we have created.

The same query is performed in each approach below (note in the first example you can either use 'where' or 'filter' are these are interchangeable in the PySparkSQL):

### Visualisation

Databricks has inbuilt functionality for visualisation of our data.

https://docs.databricks.com/visualizations/visualization-types.html

Importing the population vs price data:

In [0]:
data = spark.read.csv("/databricks-datasets/samples/population-vs-price/data_geo.csv", header="true", inferSchema="true")

Let's select State Code and 2015 median sales price using SQL. Click 'Visualization 1' after running this cell. You will see a Map.

Click 'Visualization 1' after running this cell. You will see a Scatter plot.

Data profiles can also be useful for an intial look at our data: Click 'Data Profile 1' after running this cell.

A few more examples:

Heatmap: Click 'Visualization 1' after running this cell. You will see a Heatmap.

Funnel: Click 'Visualization 1' after running this cell. You will see a Funnel

Sankey: Click 'Visualization 1' after running this cell. You will see a Sankey.

Wordcloud: Click on 'Visualization 1' after running this cell. You will see a Wordcloud.