# Map Reduce Examples with Python

### basics: lambda, filter, map, sort, reduce

- Out of a list of random numbers, filter the even numbers, square them, sort them in descending order, and then calculate the sum using the map, filter, sorted, and reduce functions.

In [1]:
from functools import reduce

# A list of random numbers
random_numbers = [12, 10, 5, 17, 13, 10, 17, 3, 7, 4]
print("Random numbers:", random_numbers)

# Filter - Keep only the even numbers


# Map - Square the even numbers


# Sort - Sort the squared even numbers in descending order


# Reduce - Sum the squared even numbers

Random numbers: [12, 10, 5, 17, 13, 10, 17, 3, 7, 4]

### list of dictionaries 

- Given a list of dictionaries with student names and grades, we will calculate the average score for each student and then sort the students based on their average scores. Finally, we'll calculate the overall class average.

In [3]:
# Data: List of dictionaries with student names and grades
student_scores = [
    {"name": "Luna", "scores": [19, 18, 15]},
    {"name": "Finn", "scores": [18, 19, 17]},
    {"name": "Ivo", "scores": [15, 19, 13]},
]

# Map - Calculate average score for each student

# Sort - Sort students based on average scores in descending order

# Reduce - Calculate the overall class average

print("Average scores for each student:")

#print("Class average:", class_average)

Average scores for each student:

# Map reduce for e-commerce transactions

In [5]:
# Read the data from the text file
with open('ecommerce_transactions.txt', 'r') as file:
    data = file.readlines()
    
#print(data)

In [8]:
# Let's define a function called map_to_stuctured_data that creates a list of tuples with product_id and revenue (price*quantity). 

#def map_to_structured_data(transaction):

In [9]:
# Perform the map operation

In [10]:
# Let's define a function to sort the transactions due to the product name.

#def sort_transactions(structured_data):

In [11]:
# Perform the sort operation

In [12]:
# Let's define a reduce function:

#def reduce_transactions(structured_data):

In [13]:
# Perform the reduce operation

In [14]:
# Print the total revenue by product for the first 5 products